$break-mobile: 800px;
$break-menu: 1600px;
$font-color: #f8bbd0;
$font-color-dark: #e91e63;

html, body
{
	overflow: hidden;
}

md-sidenav
{
	@media screen and (min-width: $break-menu)
	{
		position: absolute !important;
	}
}

md-tabs
{
	width: 100%;
}

md-tab-item
{
	padding: 0 !important;

	a
	{
		padding: 12px 24px;
		display: block;
		height: 100%;
		color: white;
		text-decoration: none;

		&:visited
		{
			color: white;
			text-decoration: none;
		}
	}
}

md-select
{
	display: block;
}

.container
{
	max-width: 960px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;

	h2
	{
		text-align: center;
	}
}

.content-container
{
	flex-wrap: wrap;
	width: 100%;
	height: calc(100% - 138px);
  	margin-top: 10px;
}

md-grid-tile
{
	background-color: #FCE4EC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	transition: all 400ms ease-out 50ms;

	&:hover
	{
		cursor: pointer;
	}

	figure
	{
		flex-direction: column;

		div,
		h3
		{
			margin: 5px 10px;
		}
	}
}

product
{
	border: 1px dotted #f8bbd0;
	display: inline-block;
	width: 32.8%;
	margin: .15%;
	height: 350px;
	border-radius: 10px;
	text-align: center;
	background-color: #FCE4EC;

	h3
	{
		overflow: hidden;
		height: 26px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		width: 90%;
		white-space: nowrap;
	}

	@media screen and (max-width: $break-mobile)
	{
		width: calc(50% - 8px);
		margin: 1px 2px;
		height: 400px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;

		img
		{
			width: 100%;
		}
	}

	img
	{
		max-height: 250px;
		border-radius: 10px;

		@media screen and (max-width: $break-mobile)
		{
			max-height: 350px;
		}
	}

	&:hover
	{
		cursor: pointer;
	}
}

.productOnSale
{
	color: red;
}

.button
{
	&:hover
	{
		cursor: pointer;
	}
}

.navigation
{
	select
	{
		display: block;
		margin-left: 15px;
		background-color: #e91e63;
		color: $font-color;
		min-width: 150px;
		margin-bottom: 15px;
	}

	button
	{
		margin-left: 15px;
	}
}

.wishlist
{
	position: relative;
	display: inline-block;

	&:hover
	{
		cursor: pointer;
	}

	.wishlistImage
	{
		max-height: 85px;
	}

	.wishlistCount
	{
		position: absolute;
		left: 55px;
		top: 40px;
		color: $font-color-dark;
	}
}

.menu
{
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 59;
	display: inline-block;

	@media screen and (min-width: $break-menu)
	{
		display: none !important;
	}
}

product
{
	position: relative;
}

.productPrice,
.productShop
{
	float: left;
	margin-left: 15px;
}

.productShop
{
	font-weight: bold;
}

.sheet-button
{
	position: relative;
}

.sheet-button.productWish:before
{
	position: absolute;
	content: '';
	background-image: url('/content/images/wishlistSprite.png');
	width: 64px;
	height: 32px;
	display: block;
	top: -10px;
	left: -8px;
	background-repeat: no-repeat;
}

.sheet-button.productWish:hover:before
{
	background-position: -62px 0;
}

.sheet-button.productWishAdded:before
{
	background-image: url('/content/images/wishlistAdded.png');
}

.sheet-button.productWishAdded:hover:before
{
	background-position: 0;
	cursor: default;
}

.productWishRemove
{
	position: absolute;
	right: 10px;
	top: 10px;

	&:before
	{
		font-size: 150%;
	}
}

.information
{
	width: 100%;
	padding: 20px 50px;

	textarea
	{
		display: block;
		margin-bottom: 15px;
		width: 195px;
	}

	md-input-container
	{
		width: 195px;
	}
}

.social
{
	margin-left: 50px;
	display: inline-block;

	@media screen and (max-width: $break-mobile)
	{
		margin-left: 0;
	}
}

.product-info-mobile
{
	display: none;

	@media screen and (max-width: $break-mobile)
	{
		display: inline-block;
	}
}

.product-info-desktop
{
	@media screen and (max-width: $break-mobile)
	{
		display: none !important;
	}
}

.single-product
{
	display: flex;
	flex-direction: row;

	.single-product-information
	{
		display: flex;
		flex-direction: column;
		max-width: 300px;
		margin-left: 25px;

		> *
		{
			margin-bottom: 15px;
		}
	}

	.single-product-share-area
	{
		text-align: center;

		md-list
		{
			display: flex;
		}
	}

	@media screen and (max-width: $break-mobile)
	{
		text-align: center;
		flex-direction: column;
	}

	.single-product-image
	{
		border-radius: 10px;
		max-width: 50%;
		max-height: 300px;

		@media screen and (max-width: $break-mobile)
		{
			max-height: 350px;
			max-width: 100%;
			display: block;
			margin: 0 auto;
			margin-top: 15px;
		}
	}

	.productPrice
	{
		display: block;
		text-align: center;
	}

	.single-product-shop-name
	{
		color: #818181;
		display: block;
		text-align: left;

		@media screen and (max-width: $break-mobile) {
			padding: 10px 25px;
		}
	}

	.single-product-shop-image
	{
		height: 25px;
	}
}

.single-product-header
{
	margin: 0 !important;
}

.wishlist-share
{
	float: right;
}

md-list.bottom-sheet-list
{
	display: flex !important;
	flex-wrap: nowrap !important;
}

.header
{
	text-align: left;

	@media screen and (max-width: $break-mobile)
	{
		text-align: center;
		margin: 5px 0 0 0;
		padding: 0;
		
		img
		{
			max-height: 70px;
		}
	}
}