<div class="information">
    <h2>Om klädeskampanjer.se</h2>
    <p>
        Klädeskampanjer.se samlar butikerna på en sida för att underlätta för dig som kund att hitta just det du söker.
        Under kategorierna Kvinna/Man hittar du en lista på våra samarbetspartners samt deras sortiment.
        Om ni saknar någon butik i listan så hör gärna av er till oss så ska vi se om vi kan lägga till denna.
    </p>

    <h2>Kontakta oss</h2>

    <md-input-container>
        <label>E-post</label>
        <input ng-model="Email">
    </md-input-container>

    <md-input-container>
        <label>Meddelande</label>
        <textarea ng-model="Message" rows="5"></textarea>
    </md-input-container>
    <md-button class="md-raised md-primary md-button md-pink-theme" md-no-ink ng-click="Send()">Skicka</md-button>
</div>