<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="fragment" content="!"/>

        <!-- FB META -->
        <meta property="og:locale" content="sv_SE" />
        <meta property="og:title"
              content="Klädeskampanjer" />
        <meta property="og:url"
              content="http://klädeskampanjer.se" />
        <meta property="article:author" content="https://www.facebook.com/victor.ohrstrom" />
        <meta property="article:publisher" content="https://www.facebook.com/Kladeskampanjer" />
        <meta property="fb:app_id" content="900972389960054" />
        <meta property="og:description" content="Samling av billiga kläder på nätet. Vårt mål är att det är hit du ska gå när du vill shoppa billiga och snygga kläder." />
        <meta property="og:image" content="http://klädeskampanjer.se/content/images/logo3.png">
        <meta property="og:image:type" content="image/png">
        <!-- END FB META -->

    <title>Klädeskampanjer - Billiga kläder på ett ställe</title>
    </head>
    <body ng-controller="index" class="md-default-theme">

        <div id="fb-root"></div>

        <md-sidenav md-is-open="IsMenuOpen" class="md-sidenav-left navigation" md-is-locked-open="$mdMedia('min-width: 1600px')">
            <md-content class="md-padding">
                <h3>Inställningar</h3>
                <md-checkbox ng-model="SaleOnly" aria-label="Rea" md-no-ink class="md-primary">Rea</md-checkbox>

                <md-select ng-model="SelectedShop">
                    <md-option value="all">Alla butiker</md-option>
                    <md-option ng-repeat="shop in Shops" value="{{shop}}">{{shop}}</md-option>
                </md-select>

                <md-select ng-model="SelectedCategory">
                    <md-option value="all">Alla kategorier</md-option>
                    <md-option ng-repeat="category in Categories" value="{{category}}">{{category}}</md-option>
                </md-select>

                <md-button class="md-raised md-primary" ng-click="IsMenuOpen = false;" aria-label="Klar">Klar</md-button>

                <h3>Önskelista</h3>
                <div class="wishlist" ng-click="GoToWishlist()">
                    <img src="content/images/wishlist.png" class="wishlistImage" alt="Önskelista"/>
                    <span class="wishlistCount">{{GetWishlistCount()}}</span>
                </div>

                <div class="social">
                    <div class="fb-like" data-href="https://www.facebook.com/Kladeskampanjer" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kladeskampanjer.se" data-text="Här har jag hittat en massa billiga kläder, kolla du med!" data-size="large" data-count="none">Tweet</a>
                </div>
            </md-content>
        </md-sidenav>

        <div class="container" layout="column" layout-fill>

            <div class="menu">
                <md-button class="md-fab" ng-click="IsMenuOpen = !IsMenuOpen" aria-label="Meny">
                    <span class="fa fa-bars button"></span>
                </md-button>
            </div>
            <!--<md-progress-linear class="md-primary" md-mode="determinate" value="{{PercentLoaded}}"></md-progress-linear>-->
            <h1 class="header">
                <img src="content/images/logo3.png" alt="Klädeskampanjer"/>
            </h1>

            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">
                    <md-tabs md-no-ink md-selected="SelectedIndex" class="md-default-theme md-primary">
                        <md-tab><a ui-sref="home">Hem</a></md-tab>
                        <md-tab><a ui-sref="information">Information</a></md-tab>
                        <md-tab><a ui-sref="woman">Kvinna</a></md-tab>
                        <md-tab><a ui-sref="man">Man</a></md-tab>
                        <md-tab><a ng-click="GoToWishlist()">Önskelista</a></md-tab>
                        <md-tab><a ui-sref="vouchercodes">Rabattkoder</a></md-tab>
                    </md-tabs>
                </div>
            </md-toolbar>

            <md-content class="content-container md-whiteframe-z1" when-scrolled="LoadProducts()" ui-view></md-content>
        </div>
    </body>

    <script async src="dependencies/dependencyconfig.js?v=0.1.5"></script>
    <script async src="dependencies/require/require.min.js" data-main="bootstrap.js?v=0.1.5"></script>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-29501390-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script async src="social.js"></script>
</html>